{% extends 'base.html' %}

{% load compress %}
{% load i18n %}
{% load staticfiles %}

{% block extra_css %}
    {% compress css %}
        <link rel="stylesheet" href="{% static 'sass/edx-web-certificates-rtl.scss' %}" type="text/x-scss">
        <link rel="stylesheet" href="{% static 'sass/edx-web-certificates-ltr.scss' %}" type="text/x-scss">
    {% endcompress %}
{% endblock %}

{% block extra_js %}
    {% compress js %}
        <script src="{% static 'bower_components/edx-pattern-library/pattern-library/js/edx-icons.js' %}"></script>
        <script src="{% static 'bower_components/edx-pattern-library/pattern-library/js/afontgarde.js' %}"></script>
    {% endcompress %}
{% endblock %}
